@import './components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff0c18;
  --primary-dark-color: #d90b15;
  --accent-color: #13004d;
  --text-base-color: #1a1a1a;
  --text-light-color: #3a3a3a;
}

* {
  @apply font-body;
}

body {
  @apply flex h-screen flex-col bg-gradient-to-br from-zinc-200 from-40% to-white antialiased;
}

.content-wrapper {
  @apply flex-1 overflow-y-auto;
}